/* ==UserStyle==
@name           Twitter BIG show hide
@namespace      ?
@version        0.0.1
@description    Twittr Big show hide button
@author         monax-owo
==/UserStyle== */
@-moz-document domain("twitter.com") {
	/* media */
	.r-edyy15 > .css-1rynq56.r-bcqeeo.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe.r-16dba41.r-1loqt21 {
		width: 100%;
		height: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		text-align: center;
		& > span {
			margin: auto;
			font-size: 4rem;
		}
	}

	/* show */
	.r-drfeu3 > .r-1e081e0 > .r-173mn98 {
		align-self: auto;
		& > div {
			& > span {
				display: flex;
				align-items: center;
				height: 4rem;
				margin: 16px 0;
				& > span {
					font-size: 4rem;
				}
			}
		}
	}

	/* hide */
	.r-e1k2in > div > span::before {
		content: '非表示';
		font-size: 1.2rem;
	}
	.r-e1k2in > div > span {
		height: 1.4rem;
		margin: 16px 0;
		& > span {
			display: none;
		}
	}
}